/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
   border: 0;
   margin: 0;
   padding: 0;

   font: inherit;
   text-align: inherit;
   text-decoration: inherit;
   background: transparent;
   font-family: sans-serif;
 }

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 #content {
   background: #fff;
   border: 5px solid #fff;
   border-radius: 5px;
   margin: auto;
   width: 800px;
 }

.map {
  width: 500px;
  height: 500px;
  margin: auto;
  border: 5px solid black;

}

h1 {
  font-weight: bold;
  font-size: 36px;
  padding: 30px;
  color: salmon;
  /*border: 5px solid grey;*/
  background: #eee;
  border-radius: 15px;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  padding: 20px;
  color: salmon;
}

.index-item {
  display: block;
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  background: #fff;
}

.index-item.hovered {
  background: salmon;
}

.bench-form {
  width: 400px;
  margin: auto;
  background: #eee;
  border: 5px solid white;
  padding: 5px;
  border-radius: 15px;
}

.bench-form label {
  font-size: 15px;
  font-weight: bold;
  display: block;
  padding: 10px;
  width: 200px;
  margin: 20px auto;
  border: 3px outset grey;
  border-radius: 5px;
}

.bench-form input, textarea {
  margin: 5px auto;
  border: 1px solid black;
  text-align: left;
  background: #fff;
  padding: 10px;
  font-weight: normal;
  font-size: 12px;
  display: block;
}

button {
  margin: auto;
  display: block;
  border: 3px outset grey;
  padding: 10px;
  border-radius: 5px;
  background: #ccc;
  color: white;
  font-weight: bold;
}

button:hover {
  background: salmon;
}
